/*
 * Copyright (c) 2023 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/outputs.h>

#define _COLEMAK 0
#define _NAV     1
#define _NUM     2
#define _FN      3

#define HYP        LS(LC(LA(LGUI)))
#define HYPER(key) LS(LC(LA(LG(key))))
#define MEH        LS(LC(LALT))
#define MEHK(key)   LS(LC(LA(key)))

/* Uncomment this block if using RGB
&led_strip {
    chain-length = <6>;
    // chain-length = <31>; // Uncomment if using both per-key and underglow LEDs
    // chain-length = <25>; // Uncomment if using only per-key LEDs.
};
 */

/ {
    keymap {
        compatible = "zmk,keymap";

        colemak_layer {
            // ---------------------------------------------------------------------------------------------------------------------------------
            // |  ESC  |  Q  |  W  |  E   |  R   |  T   |                                          |  Y   |  U    |  I    |  O   |   P   |   \  |
            // |  TAB  |  A  |  S  |  D   |  F   |  G   |                                          |  H   |  J    |  K    |  L   |   ;   |   '  |
            // | SHIFT |  Z  |  X  |  C   |  V   |  B   | L SHIFT | L SHIFT |  | LAYER 1 | L SHIFT |  N   |  M    |  ,    |  .   |   /   | CTRL |
            //                     | GUI  | DEL  | RET  |  SPACE  |   ESC   |  |   RET   |  SPACE  | TAB  | BSPC  | R-ALT |
            bindings = <
            &ht MEH TAB    &kp Q    &kp W    &kp F       &kp P       &kp B                                                         &kp J    &kp L      &kp U       &kp Y     &kp SEMI    &ht MEH BSLH
            &ht LCTL ESC   &kp A    &kp R    &kp S       &kp T       &kp G                                                         &kp M    &kp N      &kp E       &kp I     &kp O       &ht LCTL SQT
            &kp LSHFT      &kp Z    &kp X    &kp C       &kp D       &kp V    &kp LSHFT &kp LSHFT      &mo _FN      &kp LSHFT      &kp K    &kp H      &kp COMMA   &kp DOT   &kp FSLH    &kp RSHFT
                                             &kp HYP     &kp LALT    &kp LGUI &kp SPACE &kp ESC        &lt _NAV RET &lt _NUM BSPC  &kp LGUI &kp LALT   &kp HYP
            >;
        };

        navigation_layer {
            // ---------------------------------------------------------------------------------------------------------------------------------
            // |       |      |BT_CLR|BTSEL0|BTSEL1|BTSEL2|                                         |      |      |      |      |      |      |
            // |       |      |      |BTSEL3|BTSEL4|      |                                         |      |      |      |      |      |      |
            // |       |      |      |      |      |      |      |      |      |      |      |      |      |      |      |      |      |      |
            //                       |      |      |      |      |      |      |      |      |      |      |      |      |
            bindings = <
            &trans      &trans   &trans   &trans   &trans   &trans                                            &kp LG(LS(Z))   &kp LG(V)   &kp LG(C)   &kp LG(X)   &kp LG(Z)   &trans
            &trans      &trans   &trans   &trans   &trans   &trans                                            &kp LEFT        &kp UP      &kp DOWN    &kp RIGHT   &trans      &trans
            &trans      &trans   &trans   &trans   &trans   &trans   &trans   &trans        &trans   &trans   &trans          &trans      &trans      &trans      &trans      &trans
                                          &trans   &trans   &trans   &trans   &trans        &trans   &trans   &trans          &trans      &trans
            >;
        };

        numbers_layer {
            // ---------------------------------------------------------------------------------------------------------------------------------
            // |       |      |BT_CLR|BTSEL0|BTSEL1|BTSEL2|                                         |      |      |      |      |      |      |
            // |       |      |      |BTSEL3|BTSEL4|      |                                         |      |      |      |      |      |      |
            // |       |      |      |      |      |      |      |      |      |      |      |      |      |      |      |      |      |      |
            //                       |      |      |      |      |      |      |      |      |      |      |      |      |
            bindings = <
            &trans      &trans   &kp N9   &kp N8   &kp N7   &trans                                            &kp LG(LS(Z))   &kp LG(V)   &kp LG(C)   &kp LG(X)   &kp LG(Z)   &trans
            &trans      &trans   &kp N6   &kp N5   &kp N4   &trans                                            &kp LEFT        &kp LSFT    &kp LGUI    &kp LALT    &kp LCTL      &trans
            &trans      &trans   &kp N3   &kp N2   &kp N1   &trans   &trans   &trans        &trans   &trans   &trans          &trans      &trans      &trans      &trans      &trans
                                          &trans   &trans   &trans   &kp N0   &trans        &trans   &trans   &trans          &trans      &trans
            >;
        };

        function_layer {
            // ---------------------------------------------------------------------------------------------------------------------------------
            // |       |      |BT_CLR|BTSEL0|BTSEL1|BTSEL2|                                         |      |      |      |      |      |      |
            // |       |      |      |BTSEL3|BTSEL4|      |                                         |      |      |      |      |      |      |
            // |       |      |      |      |      |      |      |      |      |      |      |      |      |      |      |      |      |      |
            //                       |      |      |      |      |      |      |      |      |      |      |      |      |
            bindings = <
            &trans      &trans &trans       &out OUT_BLE &out OUT_USB &trans                                    &trans &trans &trans &trans &trans &trans
            &bootloader &trans &bt BT_CLR   &bt BT_SEL 4 &bt BT_SEL 3 &trans                                    &trans &trans &trans &trans &trans &bootloader
            &trans      &trans &bt BT_SEL 2 &bt BT_SEL 1 &bt BT_SEL 0 &trans &trans &trans        &trans &trans &trans &trans &trans &trans &trans &trans
                                                        &trans &trans &trans &trans &trans        &trans &trans &trans &trans &trans
            >;
        };
    };

    behaviors {
        hp: hold_tap {
            compatible = "zmk,behavior-hold-tap";
            label = "HOLD_TAP";
            #binding-cells = <2>;
            flavor = "balanced";
            tapping-term-ms = <200>;
            bindings = <&kp>, <&kp>;
        };

        lt: layer_tap {
            compatible = "zmk,behavior-hold-tap";
            label = "LAYER_TAP";
            #binding-cells = <2>;
            flavor = "balanced";
            tapping-term-ms = <200>;
            bindings = <&kp>, <&kp>;
        };
    };
};
